<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <br />
        <br />
        <div class="fadeIn first">
            <img src="assets/ax.png" id="icon" alt="User Icon" />
        </div>
        <br />
        <div class="decoration">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br />
        <h2>Correo Verificado</h2>
        <div>
            Hemos enviado un correo electrónico con tus credenciales a <b>{{email}}</b> recuerda revisar tu carpeta de
            spam.
        </div>
        <div>{{verificationMessage}}</div>
        <div>
            <button class="fadeIn fourth" routerLink="/login">Iniciar Sesión</button>
        </div>
    </div>
</div>