<div>
  <p>
    HOLA <b>{{ user | uppercase }}</b
    >,
  </p>
  <p>Esto es lo que tenemos para ti hoy</p>
</div>

<div>
  <a [routerLink]="['']">
    <span></span>
    <h4>Administración</h4>
    <p>Gestione funcionalidades de los usuarios</p>
  </a>
  <a [routerLink]="['../sales']">
    <span></span>
    <h4>Ventas</h4>
    <p>Gestione funcionalidades de los usuarios</p>
  </a>
  <a [routerLink]="['../mainShopping']">
    <span></span>
    <h4>Compras</h4>
    <p>Gestione funcionalidades de los usuarios</p>
  </a>
  <a [routerLink]="['../products']">
    <span></span>
    <h4>Inventario</h4>
    <p>Gestione funcionalidades de los usuarios</p>
  </a>
  <a [routerLink]="['../mainClients']">
    <span></span>
    <h4>Clientes</h4>
    <p>Gestione funcionalidades de los usuarios</p>
  </a>
  <a routerLink="">
    <span></span>
    <h4>Empleados</h4>
    <p>Gestione funcionalidades de los usuarios</p>
  </a>
  <a routerLink="">
    <span></span>
    <h4>Configuraciones</h4>
    <p>Gestione funcionalidades de los usuarios</p>
  </a>
</div>
