<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <br />
        <br />
        <div class="fadeIn first">
            <img src="assets/ax.png" id="icon" alt="User Icon" />
        </div>
        <br />
        <div class="decoration">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br />
        <h2>Restaurar Contraseña</h2>
        <div>
            Por favor ingrese su correo electrónico registrado a su cuenta
        </div>
        <form [formGroup]="formEmail">
            <label for="email">Correo electrónico</label>
            <input type="text" formControlName="email" placeholder="Ingrese su correo electrónico" />
            <div class="container__resp" *ngIf="estado">
                <h4>{{ resp }}</h4>
            </div>
        </form>
        <div>
            <button class="fadeIn fourth" (click)="verifyEmailRegistered(formEmail.value)">Aceptar</button>
            <!-- <input type="button" class="fadeIn fourth" (click)="registerCompany" value="Reenviar Email" /> -->
            <a href="">Regresar</a>
        </div>
    </div>

    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <br />
        <br />
        <div class="fadeIn first">
            <img src="assets/ax.png" id="icon" alt="User Icon" />
        </div>
        <br />
        <div class="decoration">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br />
        <h2>Código de Verificación</h2>
        <div>
            Hemos enviado un código de verificación de seis dígitos a su correo electrónico 
        </div>
        <form [formGroup]="formEmail">
            <label for="verification-code">Código de Verificación</label>
            <input type="text" formControlName="code"
                placeholder="Ingrese el código de seis dígitos" />
        </form>
        <div>
            <button class="fadeIn fourth" (click)="verifyCode(formEmail.value)">Verificar</button>
            <!-- <input type="button" class="fadeIn fourth" (click)="registerCompany" value="Reenviar Email" /> -->
            <a href="">Regresar</a>
        </div>
    </div>

    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <br />
        <br />
        <div class="fadeIn first">
            <img src="assets/ax.png" id="icon" alt="User Icon" />
        </div>
        <br />
        <div class="decoration">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <br />
        <h2>Restaurar Contraseña</h2>
        <div>
            <label for="new-password">Nueva Contraseña</label>
            <input type="password" name="new-password" id="new-password" placeholder="Ingrese nueva contraseña" />
            <label for="confirm-password">Confirmar Nueva Contraseña</label>
            <input type="password" name="confirm-password" id="confirm-password"
                placeholder="Confirme nueva contraseña" />
        </div>
        <div>
            <button class="fadeIn fourth">Restaurar</button>
            <!-- <input type="button" class="fadeIn fourth" (click)="registerCompany" value="Reenviar Email" /> -->
            <a href="">Cancelar</a>
        </div>
    </div>
</div>