<button [routerLink]="['../mainShopping']" class="btn btn-danger m-2">
  <i class="fas fa-arrow-left"></i> Regresar
</button>

<div class="container">
  <!-- Primera fila -->
  <form [formGroup]="formCompra">
    <div class="row m-3 border">
      <div class="col-md-4 d-flex justify-content-center">
        <p-dropdown
          [options]="listSuppliers"
          optionLabel="razon"
          optionValue="id_proveedor"
          formControlName="id_proveedor"
          placeholder="Selecciona el proveedor"
          [filter]="true"
          (input)="onSupplierEvent($event)"
          [style]="{
            width: '300px',
            height: '35px',
            'background-color': '#ffffff',
            transform: 'scale(0.8)',
            'z-index': 1
          }"
        ></p-dropdown>
        <button
          type="button"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#modalSupplier"
        >
          <i class="bx bx-plus"></i> Nuevo Proveedor
        </button>
      </div>

      <div class="col-md-4 d-flex align-items-center">
        <div class="row">
          <div class="col-md-3"><label for="">Factura: </label></div>
          <div class="col-md-9">
            <input
              type="text"
              name="fechaRegistro"
              id="fechaRegistro"
              formControlName="num_factura"
              placeholder="Ingrese número de la factura"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="row">
          <div class="col-md-7"><label for="">Fecha de Emisión:</label></div>
          <div class="col-md-5">
            <input
              type="date"
              name="fechaRegistro"
              id="fechaRegistro"
              formControlName="fecha"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Segunda fila -->
    <div class="row">
      <!-- primer columna -->
      <div
        class="col-md-6 p-2 border"
        style="background-color: rgb(255, 255, 255)"
      >
        <div class="row">
          <div class="col-md-9">
            <input
              type="search"
              (keyup)="filterProducts($event)"
              placeholder="Buscar producto"
            />
          </div>
          <div class="col-md-3">
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#modalProduct"
              class="btn btn-dark"
            >
              <i class="bx bx-plus"></i> Nuevo Producto
            </button>
          </div>
        </div>
        <div class="row">
          <!-- primera tabla -->
          <div class="container">
            <div class="col-md-12">
              <p-table
                #dt
                [rows]="2"
                [value]="listProducts"
                [paginator]="true"
                responsiveLayout="scroll"
                [rowHover]="true"
                [showCurrentPageReport]="true"
                [globalFilterFields]="['rol_id']"
                [style]="{ 'font-size': '12px' }"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="id_producto">
                      Id Producto
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                    <th>
                      Nombre
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                    <th>
                      Opciones
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-varProducts>
                  <tr>
                    <td>{{ varProducts.id_producto }}</td>
                    <td>{{ varProducts.nombre }}</td>

                    <td>
                      <button
                        class="btn btn-dark"
                        (click)="selectProduct(varProducts)"
                      >
                        Seleccionar
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div class="container m-1 border">
          <form [formGroup]="formAuxProduct">
            <div class="row">
              <div class="col-md-6">
                <div class="row p-1">
                  <label for="" class="" style="font-weight: 900"
                    >Código:
                    <small style="font-weight: 100">{{ codigoAux }}</small>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row p-1">
                  <label class="" for="" style="font-weight: 900">
                    Nombre:
                    <small style="font-weight: 100">{{ nombreAux }}</small>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row p-1">
                  <div class="col-md-2"><label for="">Precio</label></div>
                  <div class="col-md-8">
                    <input
                      type="number"
                      name="costo"
                      id="costo"
                      formControlName="precio"
                      placeholder="Precio"
                      style="width: 100px"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row p-1">
                  <div class="col-md-3"><label for="">Cantidad</label></div>
                  <div class="col-md-9">
                    <input
                      type="number"
                      name="cantidad"
                      id="cantidad"
                      formControlName="cantidad"
                      placeholder="Cantidad"
                      style="width: 100px"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <button
                type="button"
                class="btn btn-dark btn-lg"
                (click)="addProduct(formAuxProduct)"
              >
                <i class="bx bx-save"></i> Agregar Producto
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- segunda columna -->

      <div class="col-md-6 p-1" style="background-color: rgb(255, 255, 255)">
        <div class="row">
          <!-- primera tabla -->

          <!-- Segudan tabla -->
          <div class="container">
            <div class="col-md-12">
              <p-table
                #dt
                [rows]="20"
                [value]="listAuxProduct"
                responsiveLayout="scroll"
                [rowHover]="true"
                [showCurrentPageReport]="true"
                [globalFilterFields]="['rol_id']"
                [style]="{ 'font-size': '12px' }"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="id_producto">
                      Código
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                    <th>
                      Nombre
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                    <th>
                      Cantidad
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                    <th>
                      Precio
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                    <th>
                      Total
                      <div
                        class="flex justify-content-center align-items-center"
                      ></div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-varProducts let-i="rowIndex">
                  <tr>
                    <td>{{ varProducts.id_producto }}</td>
                    <td>{{ varProducts.nombre }}</td>
                    <td>{{ varProducts.cantidad }}</td>
                    <td>{{ varProducts.precio }}</td>
                    <td>{{ varProducts.total }}</td>
                    <td>
                      <button (click)="removeProduct(i)">
                        <i class="fas fa-trash"></i> Eliminar
                      </button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div
                    class="flex align-items-center justify-content-between"
                  ></div>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-6">
                <label for="">Subtotal:</label>
              </div>
              <div class="col-md-6">
                <label for="">${{ formCompra.controls.subTotal.value }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">Iva:</label>
              </div>
              <div class="col-md-6">
                <p-dropdown
                  [options]="listTaxes"
                  optionLabel="valor"
                  optionValue="valor"
                  placeholder="Iva"
                  (onChange)="onChangeIva($event)"
                  [style]="{
                    width: '70px',
                    'background-color': '#ffffff',
                    transform: 'scale(0.8)',
                    'z-index': 1
                  }"
                ></p-dropdown>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">Iva {{ auxIva }}%:</label>
              </div>
              <div class="col-md-6">
                <label for="">${{ auxValorIva }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">Descuento:</label>
              </div>
              <div class="col-md-6">
                <label for=""
                  ><input
                    type="number"
                    style="width: 80px"
                    formControlName="descuento"
                    (keyup)="keyupDescuento($event)"
                /></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">Total:</label>
              </div>
              <div class="col-md-6">
                <label for=""> ${{ formCompra.controls.totalAll.value }}</label>
              </div>
            </div>
            <div class="row p-3">
              <button
                type="button"
                class="btn btn-dark btn-lg"
                (click)="createCompra(formCompra)"
              >
                <i class="bx bx-save"></i> Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- The Modal of  new supplier -->

<!-- 
++++++++++++ MODAL +++++++++++++
++++++++++++++++++++++++++++++++ -->
<div class="modal" id="modalSupplier">
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="formSupplier">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Nuevo Proveedor</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="contenedor-principal">
            <div class="columna-izquierda">
              <div class="elemento">
                <label for="ci_ruc">RUC:</label>
                <input
                  type="text"
                  formControlName="ruc"
                  placeholder="Ingrese el RUC"
                  class="form-control"
                />
              </div>
              <div class="elemento">
                <label for="nombres"
                  >Razon social (Nombre de la empresa):</label
                >
                <input
                  type="text"
                  formControlName="razon_social"
                  placeholder="Ingrese los nombres"
                  class="form-control"
                />
              </div>
            </div>
            <div class="columna-derecha">
              <div class="elemento">
                <label for="telefono">Teléfono:</label>
                <input
                  type="text"
                  formControlName="telefono"
                  placeholder="Ingrese el número de teléfono"
                  class="form-control"
                />
              </div>
              <div class="elemento">
                <label for="email">Correo Electrónico:</label>
                <input
                  type="text"
                  formControlName="email"
                  placeholder="Ingrese el correo electrónico"
                  class="form-control"
                />
              </div>
              <div class="elemento">
                <label for="direccion">Dirección:</label>
                <input
                  type="text"
                  formControlName="direccion"
                  placeholder="Ingrese la dirección"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            data-bs-dismiss="modal"
            (click)="createSupplier(formSupplier.value)"
          >
            Crear Proveedor
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal" id="modalProduct">
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="formProduct">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Nuevo Producto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="contenedor-principal">
            <div class="columna-izquierda">
              <p-dropdown
                [options]="listCategories"
                [(ngModel)]="selectedCategory"
                optionLabel="descripcion"
                optionValue="id_categoria"
                formControlName="id_categoria"
                placeholder="Seleccione una categoría"
                [filter]="true"
                (input)="onCategorySearch($event)"
              ></p-dropdown>
            </div>
            <div class="elemento">
              <label for="nombre">Nombre:</label>
              <input
                type="text"
                formControlName="nombre"
                placeholder="Ingrese el nombre del producto"
                class="form-control"
              />
            </div>
          </div>
          <div class="elemento">
            <label for="codigo">Código:</label>
            <input
              type="text"
              formControlName="codigo"
              (keyup)="filterProducts($event)"
              placeholder="Ingrese el código del producto"
              class="form-control"
            />
          </div>
          <div class="elemento">
            <label for="barras">Código de Barras:</label>
            <input
              type="text"
              formControlName="barras"
              placeholder="Ingrese el código de barras"
              class="form-control"
            />
          </div>
          <div class="elemento">
            <label for="descripcion">Descripción:</label>
            <input
              type="text"
              formControlName="descripcion"
              placeholder="Ingrese la descripción del producto"
              class="form-control"
            />
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            data-bs-dismiss="modal"
            (click)="registerProduct(formProduct.value)"
          >
            Registrar Producto
          </button>

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
