<br />
<button class="btn btn-primary" [routerLink]="['register-product']">
  Nuevo Producto
</button>
<br /><br />

<router-outlet></router-outlet>

<input
  type="text"
  class="form-control bg-light small"
  placeholder="Buscar..."
  aria-label="Search"
  (keyup)="filterProducts($event)"
  aria-describedby="basic-addon2"
/>
<br />
<br />

<div class="container">
  <div class="col-md-12">
    <p-table
      #dt
      [rows]="5"
      [value]="listProducts"
      [paginator]="true"
      responsiveLayout="scroll"
      [rowHover]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}"
      [showCurrentPageReport]="true"
      [globalFilterFields]="['id_producto']"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between"></div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id_producto">
            Id<p-sortIcon field="id_producto"></p-sortIcon>
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter
                type="text"
                field="id_producto"
                display="Id"
              ></p-columnFilter>
            </div>
          </th>
          <th>Categoría</th>
          <th>Codigo</th>
          <th>
            Nombre
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter
                type="text"
                field="nombre"
                display="Nombre"
              ></p-columnFilter>
            </div>
          </th>
          <th>Stock</th>
          <th>Precio 1</th>
          <th>Precio 2</th>
          <th>Precio 3</th>
          <th>Opciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-products>
        <tr>
          <td>{{ products.id_producto }}</td>
          <td>{{ products.descripcion }}</td>
          <td>{{ products.codigo }}</td>
          <td>{{ products.nombre }}</td>
          <td>{{ products.stock }}</td>
          <td>{{ products.precio_1 }}</td>
          <td>{{ products.precio_2 }}</td>
          <td>{{ products.precio_3 }}</td>
          <td>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
              (click)="getProductById(products.id_producto)"
            >
              Editar
            </button>

            <button
              class="btn btn-primary"
              type="button"
              (click)="deleteProduct(products.id_producto)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between"></div>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="formProduct">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Actualizar Producto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="columna-izquierda">
            <div class="elemento">
              <!-- <label for="categoria">Selecciona una categoría:</label>
                  <select formControlName="id_categoria" id="categorias">
                    <option
                      *ngFor="let categoria of listCategories"
                      [value]="categoria.id_categoria"
                    >
                      {{ categoria.descripcion }}
                    </option>
                  </select>  -->
              <p-dropdown
                [options]="listCategories"
                [(ngModel)]="selectedCategory"
                optionLabel="descripcion"
                optionValue="id_categoria"
                formControlName="id_categoria"
                placeholder="Seleccione una categoría"
                [filter]="true"
                (input)="onCategorySearch($event)"
              ></p-dropdown>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
              >
                <i class="bx bx-plus"></i>
              </button>
            </div>
            <div class="elemento">
              <label for="nombre">Nombre:</label>
              <input
                type="text"
                formControlName="nombre"
                placeholder="Ingrese el nombre del producto"
                class="form-control"
              />
            </div>
          </div>
          <div class="columna-derecha">
            <div class="elemento">
              <label for="codigo">Código:</label>
              <input
                type="text"
                formControlName="codigo"
                placeholder="Ingrese el código del producto"
                class="form-control"
              />
              <!-- <input
                    type="text"
                    formControlName="codigo"
                    (keyup)="filterProducts($event)"
                    placeholder="Ingrese el código del producto"
                    class="form-control"
                  /> -->
            </div>
            <div class="elemento">
              <label for="barras">Código de Barras:</label>
              <input
                type="text"
                formControlName="barras"
                placeholder="Ingrese el código de barras"
                class="form-control"
              />
            </div>
            <div class="elemento">
              <label for="descripcion">Descripción:</label>
              <input
                type="text"
                formControlName="descripcion"
                placeholder="Ingrese la descripción del producto"
                class="form-control"
              />
            </div>
            <div class="elemento">
              <label for="precio1">Precio 1:</label>
              <input
                type="number"
                formControlName="precio1"
                placeholder="Ingrese la descripción del producto"
                class="form-control"
              />
            </div>
            <div class="elemento">
              <label for="precio2">Precio 2:</label>
              <input
                type="number"
                formControlName="precio2"
                placeholder="Ingrese la descripción del producto"
                class="form-control"
              />
            </div>
            <div class="elemento">
              <label for="precio3">Precio 3:</label>
              <input
                type="number"
                formControlName="precio3"
                placeholder="Ingrese la descripción del producto"
                class="form-control"
              />
            </div>
            <div class="row">
              <div class="col-md-1">
                <input
                  [checked]="mostrarDiv"
                  (change)="mostrarDiv = !mostrarDiv"
                  type="checkbox"
                  name="unidadMedida"
                  id="unidadMedida"
                />
              </div>
              <div class="col-md-11">
                <label for="unidadMedida" style="font-size: 12px"
                  >Agregar unidades de medida a este producto (Kilos, gramos,
                  litros, etc)</label
                >
              </div>
            </div>

            <div class="row p-3" *ngIf="mostrarDiv">
              <div class="col-md-6">
                <div class="row p-1">
                  <label for="">Unidad de compra</label>
                </div>
                <div class="row p-1 d-flex justify-content-center">
                  <p-dropdown
                    [options]="listUnitsMeasure"
                    formControlName="id_unidad_medida"
                    optionLabel="descripcion"
                    optionValue="id_unidad_medida"
                    placeholder="Selecciona unidad de compra"
                    [filter]="true"
                    (input)="onSupplierEvent($event)"
                    (onChange)="getConversions($event)"
                    [style]="{
                      width: '300px',
                      height: '35px',
                      'background-color': '#ffffff',
                      transform: 'scale(0.8)'
                    }"
                  ></p-dropdown>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row p-1">
                  <label for="">Unidad de venta</label>
                </div>
                <div class="row p-1">
                  <p-dropdown
                    [options]="listUnitConversions"
                    [(ngModel)]="selectedConversion"
                    formControlName="id_conversion"
                    optionValue="id_conversion"
                    optionLabel="descripcion"
                    placeholder="Selecciona unidad de venta"
                    [filter]="true"
                    (input)="onSupplierEvent($event)"
                    class="dropdown-custom"
                    [style]="{
                      width: '300px',
                      height: '35px',
                      'background-color': '#ffffff',
                      transform: 'scale(0.8)'
                    }"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            data-bs-dismiss="modal"
            (click)="updateProduct(formProduct.value)"
          >
            Actualizar Producto
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer"></div>
      </div>
    </form>
  </div>
</div>
