<div>
    <app-navhead></app-navhead>
</div>
<div class="container">
    <h2>Actualizar Contraseña</h2>
    <div>Por su seguridad le solicitamos que actualice su contraseña, esta debe tener mas de 8 caracteres en los que
        deben estar incluidos caracteres especiales.</div>
    <div>
        <h4>NUEVA CONTRASEÑA</h4>
        <form [formGroup]="formUpdatePassword">
            <label for="newPassword">Nueva contraseña</label>
            <input type="password" formControlName="newPassword" placeholder="Ingrese su nueva contraseña" />
            <label for="confirmPassword">Confirma nueva contraseña</label>
            <input type="password" formControlName="confirmPassword" placeholder="Confirme su nueva contraseña" />
            <button (click)="updatePassword(formUpdatePassword.value)">Guardar</button>
            <a routerLink="../register-main-company">Omitir</a>
        </form>
    </div>
</div>